.jumbotron {
    background-color: #f8f9fa!important;
    height: 90vh;
    text-align: left;
    margin: auto;
    margin-bottom: 0px !important
}

.jumbotron div {
    margin-top: auto;
    margin-bottom: auto;
}

.header {
    background-color: #f8f9fa!important;
}



.el {
    position: absolute;
    opacity: 1;
    width: 2px;
    height: 14vh;
    right: 50%;
    bottom: 10%;
    transform-origin: 50% 100%;
    background: white;
}