.navbar-brand img{
    width: 40px
}
.navbar-brand {
    padding-right: 15px;
    border-right: 1px solid black;
    color: black !important;
    font-weight: 500 !important;
}

.navbar-light .navbar-nav .nav-link{
    color: black !important;
    font-weight: 500 !important;
    font-size: 13px;
}