.section1 {
    background: #f8f9fa;
    padding: 10%;
}

.twoCards1, .twoCards2 {
    min-height: 200px;
}

.textforSpeech{
    width: 100% !important;
    height: 130px;
    border: 0px !important;
    box-shadow: none !important;
    outline:0px none transparent;
    padding: 10px;
    font-size: 20px;
    color: #3a40d4;
    resize: none !important
}
.textforSpeech:focus{
    border: 0px !important;
    box-shadow: none !important;  outline:0px none transparent;
}


.twoCards{
    box-shadow: 0 12px 20px #d8e0e6;
    -webkit-box-shadow: 0 12px 20px #d8e0e6;
    text-align: center;
    background: white !important;
}

.innerCards{
    text-align: center;
}

.twoCards2 i{
    font-size: 120px;
    color: #3a40d4;
}
.sectHead{
    font-weight: lighter;
    margin-bottom: 50px !important;
}
.innerCards {
    margin-top: 35px;
    box-shadow: none !important;
}